<style>
body {
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/05/Free-Download-HD-Laptop-Backgrounds.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  text-align: center;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

lt a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
<style>
button {
  background-color: red;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding :10px 8px;
}
</style>

<h1 style="font-size:60px;">Todos App</h1>
<h1>Here you can add your tasks whatever you want to do<h1>
<b>

<ol>
  <% @todos.each do |todo| %>
    <li>
      <%= todo.title %> - <%= todo.description %> 
      <% if todo.completed %>
        <span style="color: green;">...Task Completed</span><button><%= link_to "Remove item", todo, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></button>
      <% else %>
        <span style="color: black;">...Task Incomplete</span><button><%= link_to "Remove item", todo, data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></button>
      <% end %>
    </li>
  <% end %>
</ol>
<%= link_to 'New Todo', new_todo_path %>
<%= link_to "log_out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm:  "are you sure?"}%>

</b>